#header-list, #sidenav {

	background-color: #334C7F;
	overflow: hidden;
}

#header-list {

	height: 50px;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#header-list li {

	float: left;
	cursor: pointer;
}

#header a {

	display: block;
	padding: 15px 16px;
	text-decoration: none;
	color: white;
	user-select: none;
	transition: 0.3s;
}

#header-list #header-name {

	float: right;
	color: white;
	font-weight: 700;
	cursor: pointer;
}

#menu-wrapper {

	right: 0;
	position: fixed;
}

#menu #theme-toggle {

	appearance: none;
	outline: none;
	margin: 8px;
	width: 50px;
	height: 22px;
	background: white;
	border-color: black;
	border-radius: 100px;
	cursor: pointer;
	transition: 0.1s;
	position: relative;
	/*transition: background 300ms ease-in-out 200ms, opacity 350ms ease-in-out 200ms, transform 400ms ease-in-out;*/
}

#menu #theme-toggle:checked {

}

#menu #theme-toggle:after {

	width: 22px;
	height: 22px;
	border-radius: 20px;
	background-color: white;
	content: "";
	transform: scale(0.7);
	position: absolute;
	left: 0;
	box-shadow: 0 0 5px gold;
	transition: 0.1s;
}

#menu #theme-toggle:checked:after {

	left: 28px;
	background-color: black;
}

#menu {

	display: flex;
	align-items: center;
}

#sidenav {

	height: 100%;
	width: 0;
	position: fixed;
	transition: 0.8s;
	font-weight: 700;
	font-size: 20pt;
}

#sidenav i {

	transition: 0.5s;
}

#sidenav a {

	padding: 8px 8px 8px 32px;
	white-space: nowrap;
	text-align: left;
}

#header a:hover, #content button:hover {

	background-color: #1a66ff;
}

#dropdown-content {

	transition: 0.5s;
	text-indent: 1.5em;
}

#dropdown-wrapper, #menu-wrapper {

	transition: height 0.5s;
	height: 0;
	overflow: hidden;
}

.fa-caret-down {

	float: right;
}

.rotated {

	transform: rotate(-180deg);
}